/* CSS Document */

html,body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#F3F3F3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height:100%;
}

form {
margin:0px;
border: 0px; 
padding: 0px; 
}

a:link,a:visited,a:active {
text-decoration:none;
color:#3315C1;
}
a:hover {
text-decoration:underline;
color:#475B7A;
}

a.menu-link:link,a.menu-link:visited,a.menu-link:active {
text-decoration:none;
color:#FFFFFF;
}
a.menu-link:hover {
text-decoration:underline;
color:#E5E5E5;
}

img {
border:0px;
}

.table-main {
width:100%;
height:100%;
}

td.table-main-td-header {
height:90px;
}

td.table-main-td-middle {
height:100%;
width:200px;
vertical-align:top;
border-right:4px solid #093668;
}

td.table-main-td-footer {
height:20px;
background-color:#000000;
}

.table-header {
width:100%;
height:90px;
background-image:url(../images/header-back.png);
background-repeat:repeat-x;
background-position:top;
}

td.table-header-td-left {
height:100%;
text-align: left;
}

td.table-header-td-right {
height:100%;
text-align: right;
}

/* MIDDLE TABLE */
.table-middle {
width:100%;
}

td.table-middle-left-td {
width:200px;
height:100%;
border-right:4px solid #093668;
vertical-align:top;
text-align:left;
}

td.table-middle-right-td {
width:auto;
height:100%;
vertical-align:top;
}

.table-middle-right {
width:100%;
height:100%;
}

td.quick-login {
height:auto;
}

td.main-title {
height:71px;
border-bottom:1px solid #093668;
}

td.main-page {
height:100%;
background-color:#FFFFFF;
background-image:url(../images/page-bg.gif);
background-position:top;
background-repeat:repeat-x;
vertical-align:top;
text-align:left;
}

td.footer {
font-size:10px;
background-color:#FFFFFF;
background-image:url(../images/page-bg.gif);
background-position:top;
background-repeat:repeat-x;
border-top:1px solid #000000;
vertical-align:middle;
}

/* QUICK LOGIN TABLE */

.table-quick-login {
width:100%;
height:100%;
}

td.quick-login-text {
background-color:#8296B5;
background-repeat:repeat-x;
color:white;
font-size:9px;
font-style:italic;
padding:1px 1px 1px 4px;
white-space:nowrap;
font-weight:bold;
}

td.quick-login-title {
background-image:url(../images/title-login-back.png);
background-repeat:repeat-x;
color:orange;
font-size:10px;
font-weight:bold;
padding:6px 4px 6px 4px;
white-space:nowrap;
}
td.quick-login-field {
background-image:url(../images/title-login-back.png);
background-repeat:repeat-x;
font-size:10px;
font-weight:bold;
color:#FFFFFF;
white-space:nowrap;
text-align:left;
padding: 6px 3px 6px 3px;
}
td.quick-login-submit {
width:100%;
background-image:url(../images/title-login-back.png);
background-repeat:repeat-x;
text-align:left;
padding-left:5px;
}

.fld-quick-login {
border:1px solid #000000;
font-size:10px;
width:100px;
}

/* TITLE TABLE */

.table-main-title {
height:100%;
width:100%;
}

td.table-main-title-left {
background-image:url(../images/title-back.png);
background-repeat:repeat-x;
width:10px;
border-bottom:1px solid #093668;
}

td.table-main-title-bullet {
background-image:url(../images/title-bullet.png);
background-repeat:no-repeat;
width:25px;
border-bottom:1px solid #093668;
}

td.table-main-title-text {
background-image:url(../images/title-back.png);
background-repeat:repeat-x;
width:auto;
font-size:20px;
text-align:left;
vertical-align:bottom;
padding:0px 0px 9px 10px;
border-bottom:1px solid #093668;
}

td.table-main-title-right {
background-image:url(../images/title-back.png);
background-repeat:repeat-x;
width:auto;
font-size:20px;
text-align:right;
vertical-align:bottom;
padding:0px 20px 9px 10px;
border-bottom:1px solid #093668;
}

/* MIDDLE LEFT TABLE */

table.table-middle-left {
width:100%;
vertical-align:top;
}

td.table-middle-left-pad {
background-color:#093668;
height:2px;
}

td.small-menu {
width:100%;
}

td.search-menu {
width:100%;
}

td.table-middle-left-space {
width:100%;
height:100%;
}

.table-small-menu {
width:100%;
}

td.table-small-menu-text {
border-bottom:1px solid #FFFFFF;
background-image:url(../images/menu-top-bullet.png);
background-position:5px 50%;
background-color:#000000;
background-repeat:no-repeat;
color:#FFFFFF;
font-weight:bold;
font-size:10px;
padding:2px 0px 2px 20px;
}

.table-search-menu {
width:100%;
}

td.table-search-menu-text {
padding:4px;
padding-top:8px;
text-align:left;
vertical-align:text-bottom;
font-family:"Courier New", Courier, mono;
font-size:14px;
font-weight:bold;
color:#000000;
background-image:url(../images/menu2-back.png);
border-bottom:1px solid #000000;
}

.table-mynodes {
background-image:url(../images/menu2-back2.png);
background-repeat:repeat-x;
border-bottom:1px solid #000000;
}

td.table-mynodes-title {
width:100%;
padding-top:10px;
padding-left:15px;
text-align:left;
vertical-align:middle;
font-family:Arial;
font-size:14px;
font-weight:bold;
color:#000000;
}

td.table-mynodes-image {
padding-top:10px;
padding-left:5px;
padding-bottom:5px;
text-align:left;
vertical-align:middle;
}

td.table-mynodes-link {
color:orange;
text-align:right;
vertical-align:bottom;
padding:0px 4px 4px 0px;
font-size:10px;
font-weight:bold;
}

.table-d1 {
width:100%
}

td.table-d1-side {
height:10px;
width:4px;
background-image:url(../images/table-d1-side.gif);
background-position:100% 0%;
background-repeat:no-repeat;
}

td.table-d1-side2 {
height:10px;
width:4px;
background-image:url(../images/table-d1-side.gif);
background-position:0% 0%;
background-repeat:no-repeat;
}

td.table-d1-title-text {
background-image:url(../images/bullet-arrow2.png);
background-position:10px 50%;
background-repeat:no-repeat;
font-weight:bold;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#6C7AA6;
padding:5px;
padding-left:25px;
padding-right:10px;
white-space:nowrap;
width:100%;
}

td.table-d1-title-space {
width:40px;
}

td.table-d1-title-border {
}

td.table-d1-title-down {
width:100%;
height:15px;
background-image:url(../images/table-d1-footer.png);
background-position:top;
background-repeat:repeat-x;
border-bottom:1px solid #6C7AA6;
}

td.table-d1-text {
background-image:url(../images/table-d1-text-back.png);
background-repeat:repeat-x;
background-position:bottom;
background-color:#FFFFFF;
width:100%;
font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
padding:10px 5px 10px 5px;
border-bottom:1px solid #3B4E89;
}

td.table-d1-text1 {
background-color:#FFFFFF;
width:100%;
font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
padding:10px 5px 10px 5px;
border-bottom:1px solid #6C7AA6;
}

td.table-d1-footer {
height:20px;
background-image:url(../images/table-d1-footer.png);
background-repeat:repeat-x;
border-bottom:1px solid #6C7AA6;
}

/*PAGE-TABLE*/

.table-page {
width:100%;
}

td.table-page-pad {
width:100%;
padding:10px;
padding-top:30px;
text-align:left;
vertical-align:top;
}

td.table-page-split {
padding:10px;
padding-top:30px;
vertical-align:top;
font-size:12px;
}

td.table-page-nopad {
width:100%;
text-align:left;
vertical-align:top;
}


/* TABLE-LIST */
.table-list {
width:100%;
}

td.table-list-title {
padding-top:0px;
padding-left:10px;
width:100%;
height:30px;
background-image:url(../images/table-list-title-bg2.png);
background-repeat:repeat-x;
background-position:top;
color:#36455C;
font-size:14px;
font-weight:bold;
border-top:1px solid #3B4E89;
border-bottom:1px solid #3B4E89;
}

tr.table-list-top {
width:100%;
background-color:#000000;
}

td.table-list-top-cell {
height:10px;
color:#36455C;
font-size:12px;
background-color:#ABBEEF;
padding:4px;
border-top:4px solid #ffffff;
border-bottom:4px solid #ffffff;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
white-space:nowrap;
}

tr.table-list-list2 {
background-color:#ffffff;
color:#000000;
font-size:12px;
padding:4px;
}

tr.table-list-list1 {
background-color:#F0F0F0;
color:#000000;
font-size:12px;
}

td.table-list-cell {
padding:2px;
border-bottom:2px solid #ffffff;
border-right:2px solid #ffffff;
}

td.table-list-footer {
padding:4px;
color:#375688;
font-size:10px;
font-weight:bold;
background-color:#ABBEEF;
}

.table-form {
width:100%;
}

tr.table-form-row1 {
background-color:#ffffff;
color:#000000;
font-size:11px;
font-weight:bold;
padding:4px;
}

tr.table-form-row2 {
background-color:#F0F0F0;
color:#000000;
font-size:11px;
font-weight:bold;
}

td.table-form-title {
padding:5px;
white-space:nowrap;
}

td.table-form-field {
padding:5px;
width:100%;
}

td.table-form-submit {
text-align:right;
vertical-align:middle;
}

.fld-form-input {
font-size:14px;
width:100%;
border:1px solid #000000;
}

.fld-form-input-pickup {
font-size:14px;
width:100%;
border:1px dashed #000000;
background-color:white;
}

.fld-form-submit {
border:1px solid #000000;
font-size:10px;
font-weight:bold;
width:100px;
background-color:#8296B5;
color:#FFFFFF;
}

.fld-form-file {
border:1px solid #000000;
font-size:10px;
}

td.menu-small-links {
font-size:9px;
vertical-align:top;
text-align:center;
padding:1px;

}

/* NODE INFO */

.table-node {
width:100%;
}

td.table-node-title {
background-image:url(../images/title-bg.png);
width:100%;
height:40px;
font-size:14px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#36455C;
font-weight:bold;
padding-left:7px;
border-top:10px solid #36455C;
border-bottom:1px solid #36455C;
}

td.table-node-key {
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#36455C;
font-weight:bold;
background-color:#FFA448;
border-bottom:2px solid #ffffff;
border-right:2px solid #ffffff;
white-space:nowrap;
padding:5px;
text-align:right;
}

td.table-node-key2 {
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#36455C;
font-weight:bold;
background-color:#DBE0D7;
border-bottom:2px solid #ffffff;
padding:5px;
white-space:nowrap;
}

td.table-node-value {
width:100%;
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#36455C;
padding-left:3px;
background-color:#EEF0EC;
border-bottom:2px solid #ffffff;
padding:5px;
}

td.table-node-value2,td.link-up,td.link-down {
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#36455C;
background-color:#EEF0EC;
border-bottom:2px solid #ffffff;
padding:5px;
}

td.link-up {
background-color:green;
color:white;
font-weight:bold;
}

td.link-down {
background-color:red;
color:white;
font-weight:bold;
}

td.table-node-info {
width:100%;
border-bottom:3px solid;
border-color:#36455C;
}

td.table-node-subinfo-title {
font-weight:bold;
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#6C7AA6;
padding:2px;
padding-top:10px;
padding-left:15px;
padding-right:10px;
white-space:nowrap;
border-bottom:2px solid #36455C;
}

td.table-node-link {
width:100%;
padding:10px 0px 10px 0px; 
}

td.table-node-link-info {
vertical-align:top;
}

td.table-comments-title {
width:100%;
padding-top:10px;
font-weight:bold;
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#6C7AA6;
padding-left:7px;
text-align:left;
}

td.table-comments-text {
width:100%;
height:100%;
padding:5px;
padding-top:3px;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
border-left:1px solid #36455C;
border-right:1px solid #36455C;
vertical-align:top;
}

table.plot-link-table {
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
background-color:#63C8F8;
height:100%;
width:100%;
}

table.plot-table {
border:1px solid #000000;
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
background-color:#63C8F8;
}

td.plot-title {
font-size:11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#36455C;
font-weight:bold;
background-color:#DBE0D7;
border-bottom:1px solid #000000;
padding:5px;
white-space:nowrap;
text-align:center;
}

td.node-view-left-top {
border-right:3px solid #36455C;
border-bottom:3px solid #36455C;
padding:5px;
}

td.node-view-left-mid {
border-right:3px solid #36455C;
padding:5px;
}

td.node-view-right-top {
border-bottom:3px solid #36455C;
padding:5px;
}

td.node-view-left-bottom {
border-right:3px solid #36455C;
border-top:3px solid #36455C;
padding:5px;
}

td.node-view-right-bottom {
border-top:3px solid #36455C;
padding:5px;
}

textarea {
height:200px;
}