<?php

$config = array(
	
	'db' => array(
		'server' => "server.example.org",
		'username' => "youruser",
		'password' => "yourpassword",
		'database' => "yourdatabase"
		),
		
	'site' => array(
		'domain' => 'server.example.org',
		'url' => 'http://server.example.org/'
		),
	
	'cookies' => array(
		'expire' => (60 * 60 * 24 * 30)
		),

	'message' => array(
		'delay' => 5
		),

	'language' => array(
		'default' => 'greek'
		),
		
	'smarty' => array(
		'class' => '/usr/share/php/smarty/libs/Smarty.class.php'
		),
		
	'constructor' => array(
		'max_rows' => 50
		),
	
	'dns' => array(
		'root_zone' => 'domain',
		'ns_zone' => 'ns.domain',
		'reverse_zone' => 'in-addr.arpa',
		'forward_zone_schema' => $root_path.'poller/domain-forward.schema',
		'reverse_zone_schema' => $root_path.'poller/domain-reverse.schema'
		),
	
	'folders' => array(
		'photos' => $root_path.'files/photos/'
		),
	
	'mail' => array(
		'smtp' => '', // if not set default used from php.ini file
		'smtp_port' => '25',
		'from' => 'hostmaster@wind.cube.gr',
		'from_name' => 'WiND Hostmaster'
		),
	
	'gmap' => array(
		'keys' => array( // Domains must be as in $_SERVER['SERVER_NAME'] variable
			'server.example.org/path' => 'example_key'
			)
		)

);

?>
