@CHARSET "UTF-8";


.header {
	position: relative;
	background: url("../templates/basic/images/header-back.png") repeat-x center center;
	height: 90px;
	padding: 1px;
}

.header img {
	float: left;
}

.header h1{
	color: #efefef;
	margin-top: 25px;	
}

.header ul.steps {
	position: absolute;
	list-style-type: none;
	margin: 0px; padding: 0px;
	display: inline-block;
	bottom: -10px;
	left: 0px;
}

.header ul.steps li {
	display: inline-block;
	background:  transparent url('images/step_previous.png') right center;
	height:22px;
	line-height: 20px;
	width: 42px;
	text-align: right;		
	font-size: 8pt;
	font-weight: bold;
	color: black;
}

.header ul.steps li span{
	display: inline-block;
	width: 20px;
	text-align: center;
	vertical-align: bottom;
}

.header ul.steps li:first-child{
	width: 240px;
}

.header ul.steps li.current {
	background-image: url('images/step_current.png');
}
.header ul.steps li.next {
	background-image: url('images/step_next.png');
}
#content {
	background-color: white;
	padding: 5px 25px 25px 25px;
	min-height: 300px;
}

p.description {
	padding: 5px 25px 15px 25px;
	font-size: 1.1em;
	font-style: italic;
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 25px;
}

span.continue a, input.continue {
	display: inline-block;
	background-image: -moz-linear-gradient( bottom, #dedede, #f1f1f1);
	background-image: -webkit-linear-gradient( bottom, #dedede, #f1f1f1);
	background-image: -o-linear-gradient( bottom, #dedede, #f1f1f1);
	background-image: linear-gradient( bottom, #dedede, #f1f1f1);	
	padding: 5px 10px;
	color: #343434;
	text-shadow: 0px 0px 1px white;
	border-radius: 4px;
	border: 1px solid #a1a1a1;
	font-size: 11pt;
	cursor: pointer;
	font-family: Verdana;
	box-shadow: 0px 0px 4px #8a8a8a;
}

span.continue {
	display: block;
	text-align: right;
	margin: 30px 0px;
}
span.continue a:hover, input.continue:hover  {
	border: 1px solid #515191;
	background-image: -moz-linear-gradient( top, #dedede, #f1f1f1);
	background-image: -webkit-linear-gradient( top, #dedede, #f1f1f1);
	background-image: -o-linear-gradient( top, #dedede, #f1f1f1);
	background-image: linear-gradient( top, #dedede, #f1f1f1);	
	color: #101034;
	text-decoration: none;
}

.footer {
	border-top: 1px solid #093668;
	font-size: 0.7em;
	padding: 15px 25px;
}

h2 {
	background: url('../templates/basic/images/title-back.png') repeat-x center center;
	height: 63px;
	margin: -5px -25px 20px -25px;
	display: block;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 63px;
	padding-left: 25px;
	border-bottom: 1px solid #093668;
}

div.error {
	border: 2px solid red;
	padding: 20px 15px 20px 70px;
	margin: 15px auto;
	
	background: #f1f1f1 url('images/warning.png') no-repeat 10px center;
	box-shadow: 0px 0px 5px #f18a8a;
	border-radius: 5px;
}
ul.checks {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.checks li{
	display: block;
	padding: 15px 25px;
	border: 1px solid #d1d1d1;
	margin: 5px 0px;
	//background-color: #A1EDA0;
	background-color: #d1d1d1;
	background-image: -moz-linear-gradient(bottom, #d1d1d1, #ffffff);
	background-image: -webkit-linear-gradient(bottom, #d1d1d1, #ffffff);
	background-image: -o-linear-gradient(bottom, #d1d1d1, #ffffff);
	background-image: linear-gradient(bottom, #d1d1d1, #ffffff);
	position: relative;
}

ul.checks li .result{
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	background-color: #A1EDA0;
	border-radius: 5px;
	padding: 5px 10px;
	position: absolute;
	right: 30px;
	top: 10px;
	width: 100px;
	text-align: center;
}
ul.checks li.fail{
	background-color: red;
	background-image: -moz-linear-gradient(bottom, #FF7676, #FFD0D0);
	background-image: -o-linear-gradient(bottom, #FF7676, #FFD0D0);
	background-image: -webkit-linear-gradient(bottom, #FF7676, #FFD0D0);
	background-image: linear-gradient(bottom, #FF7676, #FFD0D0);
	border-color: red;
}

ul.checks li.fail .result{
	background-color: #EB3F3F;
	color: white;
}


.form {
	background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #A1A1A1;
	border-radius: 5px;
	padding: 15px 15px 5px 15px;
}
form ul.fields {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

form ul.fields li {
	padding: 2px 0px 8px 0px;
	border-bottom: 1px solid #d1d1d1;
}

form ul.fields li label span{
	display: block;
	padding: 2px 0px;
	font-weight: bold;
	font-size: 0.9em;
}

form ul.fields li input{
	width: 99%;
}

form .buttons {
	margin: 10px 5px;
	text-align: right;
}

.finish {
	width: 700px;
	border: 1px solid #343434;
	background: #f1f1f1 url('images/checkmark.png') no-repeat right center;
	border-radius: 10px;
	margin: 40px auto;
	padding: 45px 230px 45px 25px;
	box-shadow: 0px 0px 10px #a1a1a1;
}

.finish em{
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
}

.finish p {
	font-size: 0.9em;
}

.finish a{
	color: green;
	font-weight: bold;
}

#map_canvas {
	width: 90%;
	height: 500px;
	margin: 0px auto;
}


ul.srtm {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.srtm li{
	display: inline-block;
	float: left;
	padding: 0px;
	border: 1px solid #d1d1d1;
	margin: 5px 5px;	
	background-color: #d1d1d1;
	background-image: -moz-linear-gradient(bottom, #d5d5d5, #f2f2f2);
	background-image: -webkit-linear-gradient(bottom, #d5d5d5, #f2f2f2);
	background-image: -o-linear-gradient(bottom, #d5d5d5, #f2f2f2);
	background-image: linear-gradient(bottom, #d5d5d5, #f2f2f2);
	position: relative;	
}

ul.srtm li span{
	padding: 10px 10px 10px 30px;
	display: block;
	width: 120px;
}

ul.srtm li.existing{
	font-weight: normal;
	color: #8a8a8a;	
}

ul.srtm li.existing span{
	background: transparent url('images/checkmark_small.gif') no-repeat 5px center;
}

ul.srtm li.error span{
	background: transparent url('images/exclamation.png') no-repeat 5px center;
}

ul.srtm li.downloading span{
	background: transparent url('images/downloading.gif') no-repeat 5px center;
}